// Navigation Styles here
.nav {
  border-bottom: 1px dashed grey;

  .container {
    display: flex;
    justify-content: space-between;

    h1 {
      padding: 0.5em 0;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        // padding: 3em 1em;

        a {
          font-size: 1.3em;
          color: @shark;
          text-decoration: none;
          padding: 0 2em;
        }
      }
    }
  }
}
